<html>
<head>
  <link href="{{url_for('static', filename="css/bootstrap.min.css")}}" rel="stylesheet">
</head>
<body>
  <h1>{{title}}</h1>
  <a href="/gif" class="btn btn-primary btn-lg " role="button" aria-disabled="true">Vers les Gifs/Animations de chaque jour</a>

  <div class="container border">
    {% for l in range(0,fichiers|length, colonnes) %}
      <div class="row">
      {% for c in range(0,colonnes) %}
      {% if l+c < fichiers|length %}
      <div class="col-sm border text-center">
        <a href="{{url_for('static', filename="images/"+fichiers[l+c].fichier)}}">
          <img src="{{url_for('static', filename="thumbs/"+fichiers[l+c].miniature)}}"><br>{{fichiers[l+c].dateMEF}}
        </a>
      </div>
    {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</body>
</html>
