<html>
<head>
  <link href="{{url_for('static', filename="css/bootstrap.min.css")}}" rel="stylesheet">
</head>
<body style="background-color:#1F3037">
  <h1>{{title}}</h1>
  <a href="/" class="btn btn-primary btn-lg " role="button" aria-disabled="true">Vers les Images</a>
  <div class="container border">
    {% for l in range(0,fichiers|length, colonnes) %}
    {{l}}
      <div class="row">
      {% for c in range(0,colonnes) %}
      {{c}}
      {% if l+c < fichiers|length %}
      <div class="col-sm border text-center">
        <a href="{{url_for('static', filename="gifs/"+fichiers[l+c][0])}}">
          <img src="{{url_for('static', filename="thumbs/"+fichiers[l+c][2])}}">
          <br>{{fichiers[l+c][1]}}
        </a>
      </div>
    {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</body>
</html>
